/** police de toute la page **/

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}


/** liens non-soulignés, couleur élément parent, forme du curseur **/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


/********* HEADER *********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0 50px;
}

.logo img {
    height: 60px;
    margin-left: 20px;
}

ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    font-weight: 500;
}

.navLink {
    padding: 55px;
}

.navLink:hover {
    color: #0065FC;
    border-top: #0065FC solid 3px;
    padding-top: 50px;
}


/********* SEARCH SECTION *********/

.search {
    margin: 0 50px;
}

.searchBar h1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.searchBar p {
    font-weight: 400;
    padding-top: 0;
    margin: 0;
}

form {
    display: flex;
    margin-top: 15px;
    height: 50px;
}

.searchBar span {
    display: flex;
    /** center verticalement **/
    align-items: center;
    /** center horizontalement **/
    justify-content: center;
    font-size: 18px;
    background-color: #F2F2F2;
    color: black;
    border-radius: 20px 0 0 20px;
    /** empêcher d'être inférieur à 50px **/
    min-width: 50px;
}

.searchBar input {
    font-weight: bold;
    padding-left: 10px;
    border: #F2F2F2 solid 2px;
}

.searchBar button,
.searchBar .btn-desktop {
    border-radius: 0 20px 20px 0;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0 15px;
}


/** cacher l'icône loupe sur desktop **/

button .btn-mobile {
    display: none;
}


/********* FILTERS *********/

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    /** écart entre lignes et colonnes **/
    gap: 25px;
    padding-top: 10px;
}

.filters p {
    font-weight: bold;
    font-size: 18px;
}

.filters-btn {
    display: flex;
    gap: 25px;
    padding-right: 50px;
}

.flt {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    border: #F2F2F2 solid 3px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.flt:hover {
    background-color: #0065FC;
    color: white;
}

.flt i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 51px;
    height: 51px;
    font-size: 20px;
}

.flt p {
    padding-left: 55px;
    padding-right: 18px;
}

.infos {
    display: flex;
    align-items: center;
    padding: 30px 0 20px 0;
    gap: 10px;
}

.infos i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}


/********* SEARCH RESULTS *********/

.search-results {
    display: flex;
    padding-bottom: 20px;
    margin: 0 50px;
    gap: 35px;
}

#accomodations {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
}

#accomodations h2 {
    margin-left: 50px;
}

.accomodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 50px;
    gap: 35px;
}

.cards {
    background-color: #fff;
    border-radius: 20px;
    padding: 6px;
    width: 30%;
    min-width: 250px;
    box-shadow: 3px 3px 9px 3px #ccc;
}

.cards:hover {
    background-color: #F2F2F2;
}

.cards img {
    height: 160px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: center;
}

.room-info {
    padding: 0 20px;
    height: auto;
}

.room-text h3 {
    margin-top: 5px;
}

.room-stars {
    color: #0065FC;
    margin-bottom: 5px;
}

.grey {
    color: #d9d9d9;
}

.more {
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0 0 50px;
}


/********* ASIDE *********/

aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 25px;
}

.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular i {
    margin-right: 35px;
    font-size: 24px;
}

.popular h2 {
    margin: 50px 30px;
}

.popular-card {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    padding: 6px;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 35px;
    max-height: 210px;
    box-shadow: 3px 3px 9px 3px #ccc;
}

.popular-card:hover {
    background-color: #F2F2F2;
}

.popular-card img {
    height: 185px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    width: 40%;
    object-position: center;
}

.popular-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.popular-text {
    padding: 10px 0 0 20px;
    font-size: 16px;
}

.popular-text h3 {
    margin-top: 5px;
}

.popular-room-stars {
    padding: 20px;
    color: #0065FC;
}


/********* ACTIVITIES *********/

#activity {
    margin: 40px 50px 10px 50px;
}

#activity h2 {
    margin: 0;
}

.activities {
    display: flex;
    margin-top: 20px;
    gap: 35px;
}

.oneblock {
    display: flex;
    flex-direction: column;
    width: 24%;
}

.activity-card {
    border-radius: 20px;
    box-shadow: 3px 3px 9px 3px #ccc;
}

.activity-card:hover {
    background-color: #F2F2F2;
}

.oneblock img {
    height: 500px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-title {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 60px;
}

.card-title h3 {
    margin: 0;
}

.twoblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
}

.twoblock img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 190px;
    object-position: center;
}

#first-img {
    height: 250px;
}

#second-img {
    height: 130px;
}


/********* FOOTER *********/

footer {
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.col:first-child {
    padding-left: 50px;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin-right: 250px;
}

.col a {
    color: inherit;
    margin-bottom: 10px;
}

.title {
    font-weight: bolder;
    margin-bottom: 20px;
}


/********* MOBILE *********/

@media screen and (max-width: 768px) {
    header {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .logo {
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    .nav {
        margin: 30px 0;
        padding: 0;
        width: 100%;
    }
    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    li {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: #F2F2F2 solid 3px;
    }
    li:hover {
        padding-bottom: 15px;
        border-bottom: #0065FC solid 3px;
    }
    .navLink:hover {
        border-top: none;
    }
    .searchBar form {
        display: flex;
        justify-content: center;
        margin: 25px auto;
    }
    .searchBar button {
        border-radius: 15px;
        font-size: 18px;
        width: 50px;
        margin-left: -10px;
    }
    button .btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
    }
    button .btn-desktop {
        display: none;
    }
    .filters {
        justify-content: flex-start;
        gap: 15px;
        margin: 0 15px;
    }
    .filters-btn {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: start;
        gap: 10px;
    }
    .search-results {
        margin: 0;
        flex-direction: column-reverse;
        padding: 0;
    }
    #accomodations {
        background-color: #fff;
        padding-top: 0;
        width: 100%;
    }
    #accomodations h2 {
        font-size: 22px;
        margin-left: 50px;
    }
    .accomodations {
        flex-direction: column;
        padding: 0 30px 0 30px;
        gap: 15px;
    }
    aside {
        border-radius: 0;
        width: 100%;
    }
    .popular-card {
        margin-bottom: 15px;
        width: 85%;
    }
    .cards {
        box-shadow: 3px 3px 9px 3px #ccc;
        width: 100%;
    }
    .room-info {
        padding: 5px 15px;
    }
    .room-text h3 {
        margin-bottom: 0;
    }
    .room-text p {
        margin: 10px 0 10px 0;
    }
    .more {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .activities {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    #activity h2 {
        margin-bottom: 30px;
    }
    #mobile-fort {
        margin-bottom: 13px;
    }
    #mobile-garde {
        margin-bottom: 13px;
    }
    .card-title {
        padding-left: 20px;
    }
    .act-col {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }
    .oneblock img,
    .twoblock img,
    #first-img,
    #second-img,
    #third-img,
    #fourth-img {
        height: 145px;
        width: 100%;
    }
    footer {
        flex-direction: column;
        padding-left: 30px;
    }
    .col:first-child {
        padding-left: 10px;
    }
    .col {
        margin: 0;
        padding: 10px;
        width: auto;
    }
}


/********* TABLETTE *********/

@media screen and (max-width: 992px) {
    .cards {
        width: 100%;
    }
    .popular h2 {
        font-size: 16px;
    }
    .popular i {
        font-size: 16px;
    }
    .popular-text {
        font-size: 14px;
    }
    .popular-text h3 {
        font-size: 14px;
    }
    .search-results {
        gap: 25px;
    }
    .popular-card {
        flex-direction: column;
        max-height: fit-content;
    }
    .popular-room-stars {
        padding: 10px 0 10px 20px;
    }
    .popular-card img {
        width: auto;
        height: 160px;
        border-radius: 15px 15px 0 0;
    }
    .more {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .activities {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    #activity h2 {
        margin-bottom: 30px;
    }
    #mobile-fort {
        margin-bottom: 13px;
    }
    #mobile-garde {
        margin-bottom: 13px;
    }
    .card-title {
        padding-left: 20px;
    }
    .act-col {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }
    .card-title {
        padding-left: 20px;
        font-size: 14px;
    }
    .oneblock img,
    .twoblock img,
    #first-img,
    #second-img,
    #third-img,
    #fourth-img {
        height: 145px;
        width: 100%;
    }
}