@font-face {
    font-family: "Raleway";
    src: url(fonts/static/Raleway-Regular.ttf);
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}


html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/** HEADER **/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0 50px;
}

.logo img{
    height: 60px;
}

ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    font-weight: 500;
    text-align: center;
}

.navLink{
    padding: 55px;
    text-decoration: none;
    color: inherit;
}

.navLink:hover{
    color : #0065FC;
    border-top: #0065FC solid 3px;
    padding-top: 50px;
}

/** SEARCH SECTION **/

.search{
    margin: 0 50px;
}

.searchBar h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.searchBar p{
    display: flex;
    font-weight: 400;
    padding-top: 0;
    margin: 0;
}

form{
    display: flex;
    margin-top: 15px;
    height: 50px;
}

.searchBar span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #F2F2F2;
    color: black;
    border-radius: 20px 0 0 20px;
    min-width: 50px;
}

.searchBar input{
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border: #F2F2F2 solid 2px;
}

.searchBar button, .searchBar .btn-desktop{
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0 15px;
}


/** FILTERS **/

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    gap: 25px;
    padding-top: 10px;

}

.filters-btn{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.flt{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    border: #F2F2F2 solid 3px;
    border-radius: 30px;
}

.flt i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 51px;
    height: 51px;
    font-size: 20px;
}

.flt p{
    padding-left: 55px;
    padding-right: 18px;
}
